@keyframes koloruj{
    0%{
        background-color: aqua;
    }
    
    25%{
        background-color: pink;
    }
    
    50% {
        background-color: aqua;
    
    }
    
    100%{
        background-color: pink;
    }
    
}

body {
    animation-name: koloruj;
    animation-duration: 8s;
    animation-iteration-count: 1;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}






/*figure{
    margin: 40px auto;
    width: 100px;
    animation-name: zmien_szerokosc;
    animation-duration: 3s;
    animation-iteration-count: 2s;
}


figure img{
    width: 100%;
    transition: all 1s;
}

/*
@keyframes zmien_szerokosc {
    0%, 100%{
        width: 400px;
    }
    40%, 60%{
        width: 650px;
    }
     60%{
        width: 650px;
    }
    100%{
        width: 400px;
    }
*/


}


