#tlo-obrazek {
	background-image: url("../img/granica.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 30% 30%;
    background-attachment: fixed;
    color: lime;
}